body{
    background: #bdc3c7;
    font-family: 'Roboto', sans-serif;
}

.container
{
    display: flex;
    flex-direction: column;
}

.alert
{
    padding: 1px;
    border: 1px solid;
}

.alert.error 
{
    color: red;
}

.alert.success
{
    color: green;
}

.comments
{
    display: flex;
    flex-direction: column;
}

.comments__title
{
    margin-top: 1rem;
}

.comments__content
{
    margin-top: 1rem;
    color: red;
}

[type=radio] 
{ 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img 
{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
  
  /* CHECKED STYLES */
[type=radio]:checked + img 
{
    outline: 2px solid #f00;
}

.field
{
    display: flex;
    flex-direction: row;
}